@{
    ViewData["Title"] = "Home Page";
    Layout = "/Views/Shared/Layout/MainLayout.cshtml";

}

@inject BLL.Interface.IDashboardRep dash

<div class="container-fluid">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-danger">
                <div class="inner">
                    <h3>@dash.NumberOfDepartments()</h3>

                    <p>NumberOfDepartments</p>
                </div>
                <div class="icon">
                    <i class="ion ion-pie-graph"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <!-- NumberOfAppointments -->
            <div class="small-box bg-info">
                <div class="inner">
                    <h3>@dash.NumberOfAppointments()</h3>
                    <p>NumberOfAppointments</p>
                </div>
                <div class="icon">
                    <i class="ion ion-bag"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
            <!-- NumberOfDoctors -->
            <div class="small-box bg-warning">
                <div class="inner">
                    <h3>@dash.NumberOfDoctors()</h3>

                    <p>NumberOfDoctors</p>
                </div>
                <div class="icon">
                    <i class="ion ion-person-add"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <!-- NumberOfPatients -->
            <div class="small-box bg-success">
                <div class="inner">
                    <h3>@dash.NumberOfPatients()</h3>

                    <p>NumberOfPatients</p>
                </div>
                <div class="icon">
                    <i class="ion ion-person-add"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>

    </div>

</div><!-- /.container-fluid -->


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>


<canvas id="myChart" style="width:100%;max-width:600px"></canvas>



<script src="~/plugins/jquery/jquery.min.js"></script>

<script>
    const xValues = [];
    const yValues = [];
    const barColors =[];
    $.ajax({
        type: "Get",
        url: "/Home/Chart",
        success: function (res) {
            var counter = 0;
            $.each(res, function (i, e) {
                xValues[counter] = e.doctorName;
                yValues[counter] = e.patientCount;
                if (yValues[counter]>=2) {
                    barColors[counter] = "green";

                }
                else{
                    barColors[counter] = "blue";

                }
                counter = counter + 1;           
            });


            new Chart("myChart", {
                type: "bar",
                data: {
                    labels: xValues,
                    datasets: [{
                        backgroundColor: barColors,
                        data: yValues
                    }]
                },
                options: {
                    legend: { display: false },
                    title: {
                        display: true,
                        text: "Graph Number of Patients Per every Doctor"
                    }
                }
            });
        }

    });

  
</script>

